$primary: hsl(233, 47%, 7%);
$secondary: hsl(244, 38%, 16%);
$accent:hsl(277, 64%, 61%);
$neutral-100: hsl(0, 0%, 100%);
$neutral-200: hsla(0, 0%, 100%, 0.75);
$neutral-300: hsla(0, 0%, 100%, 0.6);

$font-size: 15px;
$body-font-family: "Inter", sans-serif; 
$header-font-family: "Lexend Deca", sans-serif;

$font-weight-regular: 400;
$font-weight-bold: 700;