@import "variables";
@import "mixins";
@import "components/card";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $font-size;
  font-family: $body-font-family;
  font-weight: $font-weight-regular;
  color: $neutral-200;
}

body {
  background: $primary;
}

main {
  padding: 6rem 2rem;
  display: flex;
  @include breakpoint {
    justify-content: center;
    min-height: 100vh;
    align-items: center;
  }
}