@import "display";

.card {
  max-width: 800px;
  width: 100%;
  @include breakpoint {
    display: flex;
    max-width: 1200px;
    justify-content: center;
    max-height: 500px;
  }
  &__img {
    width: 100%;
    display: block;
    filter: brightness(40%) sepia(100%) hue-rotate(235deg) saturate(500%) contrast(0.8) opacity(1);
    &--desktop {
      display: none;
      @include breakpoint {
        display: block;
        width: 50%;
        object-fit: cover;
        order: 2;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
    &--mobile {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      @include breakpoint {
        display: none;
      }
    }
  }
  &__display {
    @include breakpoint {
      width: 50%;
    }
  }
}